@import "/styles/breakpoints";

.root {
  width: 100%;
  padding-top: 34px;
}

.headerWrapper {
  max-width: 1145px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;

  @include media("<=xl") {
    padding: 0 20px;
  }
}

.buttonWrapper {
  position: relative;
  display: flex;

  &::after {
    content: "";
    position: absolute;
    left: 79px;
    top: 0;
    bottom: 0;
    width: 2px;
    background: var(--white);
    opacity: 0.5;
  }

  &::before {
    content: "";
    position: absolute;
    right: 79px;
    top: 0;
    bottom: 0;
    width: 2px;
    background: var(--white);
    opacity: 0.5;
  }

  @include media("<=sm") {
    position: fixed;
    top: 110px;
    left: 30px;
    flex-direction: column;
    z-index: 5;

    &::after,
    &::before {
      content: none;
    }
  }
}

.headerButton {
  width: 47px;
  height: 47px;
  margin-right: 64px;
  transition: all 0.1s linear;

  @media (any-hover: hover) {
    &:hover {
      scale: (1.1);
    }
  }

  @include media("<=sm") {
    margin-bottom: 20px;
    background: var(--pink-light);
  }

  &:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.productsInCart {
  position: absolute;
  color: var(--white);
  font-size: 12px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -2px;
  right: -2px;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background-color: var(--red);
}

.burgerBtn {
  width: 38px;
  height: 32px;
  display: flex;
  align-items: center;
  border: none;
  background: transparent;
  transition: all 0.1s linear;
  cursor: pointer;

  @media (any-hover: hover) {
    &:hover {
      scale: (1.1);
    }
  }
}

.burger {
  position: relative;
  border: none;
  width: 37px;
  height: 3px;
  background: var(--white);
  box-shadow: 0 -16px var(--white);
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 8px;
    right: 0;
    width: 29px;
    height: 3px;
    background: var(--white);
    box-shadow: 0 -16px var(--white);
  }
}
