@import "/styles/breakpoints";

.root {
  max-width: 1145px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 130px;
}

.title {
  font-weight: 700;
  font-size: 44px;
  line-height: 130%;
  text-align: center;
  color: var(--black-text);

  @include media("<sm") {
    font-size: 35px;
  }
}

.description {
  width: 557px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--black-text);
  opacity: 0.7;
  margin-top: 25px;
  margin-bottom: 93px;

  @include media("<md") {
    width: 350px;
  }
}

.cardsWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  @include media("<xl") {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 80px;
    justify-items: center;
  }

  @include media("<lg") {
    gap: 80px 40px;
  }

  @include media("<md") {
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(3, auto);
  }
}

.imageWrapper {
  position: relative;
  width: 332px;
  height: 331px;
  border-radius: 30px;

  &::before {
    content: url("/assets/images/latestProduct/basket.svg");
    position: absolute;
    right: -35px;
    top: -35px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    border: 6px solid var(--white);
  }

  @include media("<sm") {
    scale: (0.9);
  }
}

.imageWrapper_pink {
  background: var(--pink-bg);
  &::before {
    background: var(--pink-light-bg);
  }
}

.imageWrapper_blue {
  background: var(--blue-bg);
  &::before {
    background: var(--blue-light-bg);
  }
}

.imageWrapper_green {
  background: var(--green-bg);
  &::before {
    background: var(--green-light-bg);
  }
}

.headphoneImage {
  position: absolute;
  bottom: 26px;
  left: 24px;
}

.starWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 35px;
  margin-bottom: 15px;
}

.star {
  margin-right: 10px;
}

.mark {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--black-text);
}

.textWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  color: var(--black-text);
}

.price {
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  text-align: center;
  color: var(--black-text);
}
