@import "/styles/breakpoints";

.root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--gray-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  z-index: 5;
  animation-duration: 1s;
  animation-name: showCart;
  animation-iteration-count: 1;
  transform: translateY(0);
  transition: transform 0.5s linear;
}

@keyframes showCart {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.title {
  font-weight: 700;
  font-size: 25px;
  line-height: 130%;
  text-align: center;
  color: var(--black-text);
  margin-bottom: 20px;
}

.itemProduct {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  background: var(--green-bg);
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.productWrapper {
  display: flex;
  align-items: center;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}

.name {
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  color: var(--black-text);

  @include media("<=sm") {
    font-size: 18px;
  }
}

.price {
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  text-align: center;
  color: var(--black-text);

  @include media("<=sm") {
    font-size: 15px;
  }
}

.removeProduct {
  border: none;
  background: none;
  cursor: pointer;
}

.placeOrder {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.totalPrice {
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  text-align: center;
  color: var(--black-text);

  @include media("<=sm") {
    font-size: 15px;
  }
}

.orderButton {
  font-weight: 700;
  font-size: 15px;
  border: none;
  background: var(--green-bg);
  border-radius: 10px;
  border: 1px solid green;
  cursor: pointer;
  padding: 10px 20px;
}
